
.Rproj.user/E7CDE54D/sources/prop/373D659D

.Rproj.user/E7CDE54D/sources/prop/INDEX

.Rproj.user/E7CDE54D/sources/s-1944743F/19BBF9F8

.Rproj.user/E7CDE54D/sources/s-1944743F/19BBF9F8-contents

.Rproj.user/E7CDE54D/sources/s-1944743F/1E35C80E

.Rproj.user/E7CDE54D/sources/s-1944743F/1E35C80E-contents

.Rproj.user/E7CDE54D/sources/s-1944743F/lock_file

.Rproj.user/shared/notebooks/F89BFF3B-Assignment 9/1/s/c8lac7aeqoejb/000002.csv

.Rproj.user/shared/notebooks/F89BFF3B-Assignment 9/1/s/c8lac7aeqoejb/000003.png

.Rproj.user/shared/notebooks/F89BFF3B-Assignment 9/1/s/cgcuql2cag55w/000002.csv

.Rproj.user/shared/notebooks/F89BFF3B-Assignment 9/1/s/cgcuql2cag55w/000003.png

.Rproj.user/shared/notebooks/F89BFF3B-Assignment 9/1/s/cse8fq51q8dq6/000002.csv

.Rproj.user/shared/notebooks/F89BFF3B-Assignment 9/1/s/cse8fq51q8dq6/000003.png

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths

Assignment 9.nb.html

Assignment 9.Rmd

Sexual Abuse Data.csv

.Rproj.user/shared/notebooks/F89BFF3B-Assignment 9/1/s/chunks.json

.Rproj.user/E7CDE54D/sources/prop/

*.json

*.html

*.csv

.Rproj.user/shared/notebooks/8609F263-Rebecca N Assignment 9/1/s/cyntjj2aj3plp/000003.metadata

*.png

.Rproj.user/shared/notebooks/8609F263-Rebecca N Assignment 9/1/s/cyntjj2aj3plp/000003.snapshot

.Rproj.user/shared/notebooks/8609F263-Rebecca N Assignment 9/1/s/cd5ri4172d5st/000003.metadata

.Rproj.user/shared/notebooks/8609F263-Rebecca N Assignment 9/1/s/cd5ri4172d5st/000003.snapshot
